<mat-tab-group dynamicHeight>
    <mat-tab label="Post">
        <div class="Post" *ngIf="blogPost && author">
            <h2>{{blogPost.title}}</h2>
            <a mat-button routerLink="/authors/{{author.id}}"> By: {{author.firstName}} {{author.lastName}} </a>
            <p>{{blogPost.textBody}}</p>
        </div>
    </mat-tab>
    <mat-tab label="Editor">
        <div *ngIf="blogPost && author">
            <app-blog-post-editor [(blogPost)]="blogPost" [authorId]="author.id"></app-blog-post-editor>
        </div>
    </mat-tab>
</mat-tab-group>

<button mat-raised-button color="primary" (click)="delete()">Remove post</button>