<div *ngIf="author">
    <app-author-editor [firstName]="author.firstName" [lastName]="author.lastName"> </app-author-editor>
</div>

<div *ngIf="author">
    <h2>{{author.firstName}} {{author.lastName}}</h2>
    <p>id: {{author.id}}</p>
    <p>balance: {{author.balance}}</p>
</div>

<div class="example-button-row">
    <button mat-raised-button color="primary" (click)="donate()">Donate 10$</button>
    <button mat-raised-button color="primary" (click)="delete()">Delete</button>
</div>

<mat-list>
    <mat-list-item *ngFor="let blogPost of blogPosts">
        <a routerLink="/posts/{{blogPost.id}}">
            <span>{{blogPost.title}}</span>
        </a>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>